

<div class='card black center'>
	<div class='row'>
		<div class='col s12 m12 container center'>
			<img src='img/SantaClaus_Cool.png'>
			
      <h5 class='grey-text text-darken-2'><b>++++++ +++++ ++++++  +++++++ ++  +++++ ++++++  ++ ++++++  ++ +++   +++++++ ++++++++  +++++++ ++++++  ++++++++ +++++++ +  ++ +++   +++ +++++  ++ ++  ++++++ +++ +  ++ ++++++  </b> </h5>
			<textarea type='text' id='hiroshima' class='box  card-panel black white-text'></textarea>
			<div class='col s12 m12'>
        <button class='btn white black-text encrypt '> &nbsp </button>
        <button class='btn red decrypt'> &nbsp </button>
      </div>
      <textarea type='text' id='nagasaki' class='box card-panel black white-text' ></textarea>
    </div>
	</div>
</div>
