

<div class='center'>
	<div class='row'>
		<div class='col s12 m12 container center'>
			<h3> Nu-age </h3>
			<h6><b> Alpha numeric text encryption Algorithm</b> </h6>

      <h6 class='grey-text text-darken-2'>Previously known as Santa and Numero the Nu-age text encryption program utilises an alpha numeric text encryption algorithm that converts words and numbers into a sequence of '+' characters</h6>
			<h6> Try it out below </h6>
			<form action={{action}} method={{method}}>
				<textarea type='text' name='text' id='conceal' class='box  card-panel black white-text' placeholder="enter text here">{{message}}</textarea>
				<div class='col s12 m12'>
	        <input class='btn white black-text' type='submit' value={{action}}>  </input>
	      </div>
			</form>
    </div>
	</div>
</div>
